/* =====================================
Nome do projeto: Projeto clínica - Mediplus
Autores: Fábio Rodrigues, Tiago Castanheira, Sandro Oliveira

========================================*/
/*======================================
[ Layout: Índice ]

1. Layout do header
2. Layout do footer
3. Layout da página inicial


========================================*/

/*===================
1. Layout do header
=====================*/

header {
    display: grid;
    grid-template-columns: 300px 1fr auto auto auto; /* 1 coluna flexível para o conteúdo à esquerda 
                                                    e 3 colunas automáticas para os outros elementos */
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.profile {
    display: inline-block;
}

.profile img {
    display: block;
}

/*===================
2. Layout do footer
=====================*/

footer {
    display: flex;
    align-items: center;
}

/*===================
3. Layout da página inicial
=====================*/

#content_index {
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
}

/* Layout dos slides */
.slides {
    display: flex;
}

.navigator {
    display: flex;
    left: 50%;
}

/* Layout da secção informativa */
.infor-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-card {
    display: flex;
    flex-direction: column;
}

.info-card h2 {
    flex: 1;
}

/* Layout das secções localização e sobre */
.about-section,
.location-section {
  display: flex;
  flex-direction: column;
}

.location-section iframe {
    align-self: center;
}

/* Layout da secção de notícias */
.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.news-header {
    grid-column: span 3;
}

.news-item {
    display: flex;
    flex-direction: column;
}

.news-item img {
    flex-shrink: 0;
}

.news-content #news-date {
    align-self: flex-end;
}