/* =====================================
Nome do projeto: Projeto clínica - Mediplus
Autores: Fábio Rodrigues, Tiago Castanheira, Sandro Oliveira

========================================*/
/*======================================
[ Responsive: Índice ]

1. Responsividade da página inicial

========================================*/

/*===================
1. Responsividade da página inicial
=====================*/

/* Responsividade da secção informativa */
@media screen and (max-width: 1024px) {
  .infor-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
  }

  .info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
}

@media screen and (max-width: 768px) {
  .infor-section {
    grid-template-columns: 1fr;
  }

  .info-card {
    width: 100%; 
  }
}



/* Responsividade da secção de notícias */
@media screen and (max-width: 1024px) {
  .news {
      grid-template-columns: repeat(2, 1fr);
  }

  .news-header {
      grid-column: span 2;
  }
}

@media screen and (max-width: 425px) {
  .news {
      grid-template-columns: 1fr;
  }

  .news-header {
      grid-column: span 1;
  }
}